.midnav{
    background-color: lightsalmon;
    overflow: hidden;
}

.midnav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

.midnav a:hover{
    background-color: #ddd;
    color: black;
}

.midnav a.active{
    background-color: #4CAF50;
    color: white;
}

.midnav-center{
    float: center;
}

h2{
    text-align: center;
    margin:0;
}



