/*
@author Coolname
*/

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.discs {
  width: 750px;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  border-top: 10px solid slateblue;
}

.purchaseB {
  display: inline-block;
  border-radius: 2px;
  height: 30px;
  width: 110px;

  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 14px;
  font-weight:400;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  background-color: lightslategrey;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item_image {
  margin-inline: 25px;
  height: 100px;
}
 
.item {
  border-bottom:  1px solid #E1E8EE;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
}
 
.description {
  align-items: center;
  margin-right: 10px;
  width: 200px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
  font-weight: bold;
}
.item .description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.item .description .weight{
  color: #86939E;
}


@media (max-width: 800px) {
.discs {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.item {
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  width: 100%;
  text-align: center;
  margin: 6px 0;
}
}

