
<div *ngIf="product">
    <div class="disc">
        <div class="title">{{product.type}}</div>
        <div class="item">
            <img class="item_image" src={{getImagePath(product.color)}} />
            <div class="description">
                <span>Quantity: {{product.quantity}}</span>
                <span>Weight: {{product.weight}}</span>
                <span>Price: ${{product.price}}</span>
                <span>Color: {{product.color}}</span>

            </div>
            <div class="description" style="margin-left: auto;">
                <button *ngIf="canPurchase()" class="purchaseB" style="width: 100px;" (click)="addToCart(product.id)">Add to cart</button>
                <button class="purchaseB" style="width: 100px;" (click)="goBack()">Go Back</button>
            </div>
        </div>
       </div>
    </div>
