<div class="home-page">
    <h1>Welcome to Acadia Disc Golf</h1>
    <p>Click <strong>Products</strong> to peruse our wares</p>
    <p>Click <strong>Login</strong> to sign up or log in</p>
</div>
<br>
<div class="description">
    <p>Acadia Disc Golf is a
        family-owned business,
        that sells disc golf
        equipment and one on one coaching
        sessions. We are located near Portland,
        Maine. We look forward
        to seeing you!</p>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/Pz0_tekYDbgppW2ADm5keQ/348s.jpg" alt="Our store" class = "store-picture">
</div>